.shubhYatra_wrapper {
  background: linear-gradient(
    to top,
    rgb(14, 38, 172) 0%,
    rgb(2, 8, 97) 50%,
    rgb(12, 3, 97) 50%,
    rgb(0, 1, 32) 100%
  );
  padding: 1px;
  position: relative;
  height: auto;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  /* margin-bottom: 5rem; */
}
